.setting-container {
  border-radius: 100%;
  padding: 10px 10px 6px;
  background-color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
.setting-container img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .setting-container {
    padding: 10px 10px 8px;
  }
}